# Wajib untuk menjalankan aplikasi Django
Django==5.2.4
gunicorn==23.0.0
whitenoise==6.9.0

# Untuk koneksi database PostgreSQL
psycopg2-binary==2.9.10
dj-database-url==3.0.1

# Untuk manajemen konfigurasi (variabel lingkungan)
python-decouple==3.8

# Dependensi inti Django (sebaiknya dibiarkan eksplisit)
asgiref==3.9.0
sqlparse==0.5.3